html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;

}

h1 {
    line-height: 23px;
    font-weight: 800;
    color: white;
}

a {
    text-decoration: none;

}

body {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

main {
    width: 550px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;

}

.background-image {
    background: #000 center/cover url("/imgs/background.jpg") no-repeat;
}

.results-container {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 530px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 475px;
    justify-content: space-evenly;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-flow: row-reverse;
    margin: 10px;
}

.container>a {
    align-self: center;
    padding-left: 10px;
    color: white;
    text-shadow: 1em whitesmoke;
    width: 114px;
    text-align: right;
}

.spacer {
    padding: 20px;
}

#search-container {
    width: 460px;
    height: 40px;
    border: 1px solid white;
    position: absolute;
    top: 55;
    display: flex;
    align-items: center;
}

#search-container button {
    float: right;
    border-radius: 0px 6px 6px 0px;
    color: whitesmoke;
    background-color: #374151;
}

#search-movie {
    margin: auto;
    border-radius: 8px;
}

#search {
    float: left;
    border-radius: 6px 0px 0px 6px;

}

.no-border {
    border: none;
}

.border-light {
    border: 1px solid gray;
}

.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.poster {
    width: 150px;
}

.card-header {
    width: 250;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

img {
    margin: 10px;
}